<a href="https://colab.research.google.com/github/aditya0811/-100daysofMLcode/blob/master/Checking_data_and_dealing_with_missing_values.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
df= pd.read_csv("/content/sample_data/california_housing_test.csv")

**Checking Data**

In [0]:
# this returns a tuple of the dimensions of the dataframe
df.shape

(3000, 9)

In [0]:
# this returns the datatypes of the columns
df.dtypes

longitude             float64
latitude              float64
housing_median_age    float64
total_rooms           float64
total_bedrooms        float64
population            float64
households            float64
median_income         float64
median_house_value    float64
dtype: object

In [0]:
# Sometimes the datatype for column appears to be object, further investigation shows it's a string
type(df[COLUMN NAME APPERAING OBJECT][0])
#Pandas actually stores [pointers](https://en.wikipedia.org/wiki/Pointer_(computer_programming) to strings in
#dataframes and series, which is why object instead of str appears as the datatype. Understanding this is not 
#essential for data analysis - just know that strings will appear as objects in Pandas.

In [0]:
# this displays a concise summary of the dataframe,
# including the number of non-null values in each column
df.info()

In [0]:
# this returns the number of unique values in each column
df.nunique()

In [0]:
# this returns useful descriptive statistics for each column of data
df.describe()

In [0]:
# same thing applies to `.tail()` which returns the last few rows
df.tail(2)

**Breaking data cells,creating new data frames**

In [0]:
# select all the columns from 'id' to the last mean column
df_means = df.loc[:,'longitude':'population']
df_means.head()

**Problems with data set**


1.   Missing values
2.   Duplicate values
3. Incorrect data types

**Missing values**

In [0]:
#Using mean
mean= df['COLUMN NAME'].mean()
df['COLUMN NAME'].fillna(mean,inplace=True)

**Duplicate values**

In [0]:
#removing entire rows of duplicate data
df.drop_duplicates(inplace= True)

**Converting data types**

In [0]:
df['COLUMN NAME']=pd.to_datetime(df['COLUMN NAME'])